{% extends 'core/base.html' %}
{% load static %}
{% block title %} YogaEase | About Us {% endblock title%}

{% block content %}
    <section class="features-section">
        <div class="container">
            
            <h2>About Us</h2>
            <div class="features-area flex">
                <div class="features-card flex">
                    <img src="/static/Images/feature1.png" alt="">
                    <h3>Yoga Ease</h3>
                    <p>Yoga is group of physical, mental and spiritual practices or disciplines which originated in ancient india and to control to still the mind, recognizing a detached withness-conciousness untouched by the mind and mundane suffering </p>
                    <span>To rejuvenate our body, mind and spirit, we boys are here to create the such environment and method to all kind of generation to enjoy and develop in healthy community</span>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}