{% extends 'core/base.html' %}
{% load static %}
{% block title %} YogaEase | Courses {% endblock title%}

{% block content %}
    <section class="features-section">
        <div class="container">
            
            <h2>Courses Available</h2>
            <div class="features-area flex">
                <div class="features-card flex">
                    <img src="/static/Images/feature1.png" alt="">
                    <h3>Pilates Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 12.svg" alt="">
                    <h3>Ashtanga Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 17.svg" alt="">
                    <h3>Gentle Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 14.svg" alt="">
                    <h3>Vinyasa Class</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 15.svg" alt="">
                    <h3>Hatha Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 16.svg" alt="">
                    <h3>Kundalini Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 14.svg" alt="">
                    <h3>Vinyasa Class</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 15.svg" alt="">
                    <h3>Hatha Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 16.svg" alt="">
                    <h3>Kundalini Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 14.svg" alt="">
                    <h3>Vinyasa Class</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 15.svg" alt="">
                    <h3>Hatha Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

                <div class="features-card flex">
                    <img src="/static/Images/asset 16.svg" alt="">
                    <h3>Kundalini Yoga</h3>
                    <p>Discover how people group and label information.</p>
                    <a href="#" class="secondary-button">Learn More <i class="fa-solid fa-right-long"></i></a>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}