<!-- <!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Courses</title>
    <style>


        
    
    </style>
</head>
<body>

    <nav>
        <div class="container main-nav flex">
            <a href="{% url 'myapp-home' %}" class="company-logo">
                <img src="/static/Images/final-logo.png" alt="company logo">
            </a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="{% url 'myapp-about' %}" class="hover-links">About Us</a></li>
                    <li><a href="{% url 'myapp-course' %}" class="hover-links">Courses</a></li>
                    <li><a href="{% url 'myapp-pricing' %}" class="hover-links">Pricing</a></li>
                    <li><a href="{% url 'myapp-resource' %}" class="hover-links">Resources</a></li>
                    <li><a href="{% url 'authapp-login' %}" class="hover-links secondary-button">Log-In</a></li>
                    <li><a href="{% url 'authapp-signup' %}" class="hover-links primary-button">Sign-Up</a></li>
                </ul>

            </div>
        </div>
    </nav> -->